.marg{
    text-align: center;
    background-color: white;
    padding: 1px;
    width: 300px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}
.cav{
    color: blue;
}
.pedro{

    font-family: 'Bree Serif', serif;
}
.h1{
    color: white;
    font-family: 'Bree Serif', serif;
}
#login{
    color:black;
}
.btn{
    background-color: #0000ff87;
    border-color: #000027;
    color:#ffffff;
    padding:8px;
    border-radius:5px;

}
.btn:hover{
    transition: 0.5s;
    background-color: white;
    border-color: #000027;
    color:black; 
}

