@charset "UTF-8";
body{
    background-color: #e0e0e0;
}

/*Formatação do Menu*/

li a, .dropbtn {
    text-decoration:none;
    margin:4px;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

a:hover{
    box-shadow: 0px 2px;
}

ul{
    border-top: 10px; 
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    background-color:white;
    box-shadow:1px 1px 1px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

li {
    float: left;
 
}



li a:hover, .dropdown:hover .dropbtn {
  
    }

li.dropdown {
    display: inline-block;

}

.alinhamento-do-texto{

    text-align: right;
}

/* Formatação do NavBar*/

#btn-pesquisa{
    padding: 5px;
    border-radius: 7px;
    border-color: #000000;
    background-color: black;
    color: white;
}

#btn-pesquisa:hover{
    color:black;
    background-color:#ffffff;
}

#local{
    border-radius: 6px;
    width: 200px;
    padding: 6px;
    background-color: #8686da1f;
}

/*Formatação do Card*/

.card {

    text-align: : center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    display: inline-block;
    margin: 30px; 
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

/*index*/

.art{
    color: #737272a8;
    padding: 8px;
    background-color: white;
    text-align: justify;
    width: 700px;
    border-radius: 9px;
    font-family: 'Roboto Mono', monospace;
    box-shadow: 10px 7px 8px;
    transition: 1s;
}

.art:hover{
    box-shadow: 15px 13px 15px;   
}