.marg{
    text-align: center;
    background-color: #007effc7;
    padding: 5px;
    width: 300px;
    color: white;
    border-width: 10px;
    border-style: dashed;
    border-radius: 10px;
}
.btn{
    background-color: #0000ff87;
    border-color: #000027;
    color:#ffffff;
    padding:8px;
    border-radius:5px;
}

