body{
	text-align: center;
	background-repeat: no-repeat;
}

div.marg{
	border-color: green;
	border-width: 5px;
	border-style: ridge;
	padding: 10px;
	background-color: #41a900;
	width: 200px;
	right: 30%;
	box-shadow: 5px 5px 15px;
	transition: 1s;
}

div.marg:hover{
	box-shadow: 9px 15px 15px;
}

input{

	border-radius: 9px;
	padding: 10px;
}

button.btn{

	font-weight: bolder;
	text-align: center;
	border-radius: 5px;
	padding: 8px;
	border-color: green;
	background-color: white;
	color: black;

}

button.btn:hover{
	transition: 1s;
	background-color: green;
	color: white;

}